/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-page,
  .registration-page {
    width: 300px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-page h2,
  .registration-page h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .login-form,
  .reg-form {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .login-page label,
  .registration-page label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .login-page input,
  .registration-page input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  .login-page button,
  .registration-page button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-page p,
  .registration-page p {
    margin-top: 0.5rem;
    text-align: center;
  }
  
  @media screen and (min-width: 600px) {
    .login-page,
    .registration-page {
      width: 400px;
      padding: 5rem;
      border: 1px solid white;
      background-color: beige;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
   */
   .login-page ,
   .registration-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form ,
  .reg-form{
    width: 300px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .login-page h2 ,
  .registration-page h2{
    margin-top: 0;
    text-align: center;
  }
  
  .login-page label ,
  .registration-page label{
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .login-page input ,
  .registration-page input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  .login-page button,
  .registration-page button{
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-page p,
  .registration-page p{
    margin-top: 0.5rem;
    text-align: center;
  }
  